body {
  font-family: Tahoma;
}

.main-back {
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.weather-container {
  display: block;
  height: 500px;
  width: 550px;
  margin: auto;
  position: relative;
  top: 40px;
  overflow: hidden;
}

.footer {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 15px;
  border-top: 1px solid grey;
  margin-top: 30px;
  padding-top: 30px;
}

.refresh {
  color: black;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
  padding-top: 30px;
}

#refresh {
  font-size: 20px;
}

.fa-refresh:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.w2 {
  padding-top: 50px;
  width: 500px;
  margin: auto;
  position: relative;
  height: 150px;
  text-align: center;
  overflow: visible;
}

.wd div {
  border-left: 2px solid grey;
}

#main-1 {
  width: 130px;
  height: 120px;
  border-right: 2px solid grey;
  padding-right: 20px;
}

.inline {
  text-align: left;
  font-size: 30px;
}

.inline2 {
  font-size: 50px;
  text-align: left;
}

.inline3 {
  font-size: 35px;
  text-align: left;
}

.main-icon {
  width: 200px;
  position: absolute;
  left: 0px;
  font-size: 100px;
  border-right: 2px solid grey;
  padding-right: 30px;
}

.main-icon:hover {
  cursor: pointer;
}

#unit-icon {
  width: 70px;
  position: absolute;
  left: 120px;
  top: 90px;
  font-size: 60px;
  border: none;
  padding-right: 30px;
}

#unit-icon:hover {
  cursor: pointer;
}

.sub2 {
  padding-left: 30px;
  width: 300px;
  display: inline-block;
  position: absolute;
  right: 0px;
}

.inline-main {
  text-align: left;
  font-size: 45px;
}

.offset {
  display: block;
  background-color: rgba(236, 238, 239, 0.39);
  /* z-index: 0; */
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5%;
}

#cloud-info-d,
#loc-info-d,
#temp-info-d,
#humid-info-d,
#wind-info-d {
  display: none;
}

.wrapper {
  position: relative;
}

.layer-1 {
  position: absolute;
  left: 40px;
}

.layer-2 {
  display: none;
  position: absolute;
  left: 40px;
}

.wind-r {
  border: none;
}

.flipper {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.flip-icon {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.26);
}

.pos {
  left: -25px;
}
